nav a {
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#movies{
	text-align: center;
	padding: 50px;
	margin: 30px;
}

#onTV{
	font-size: 100px;
}

button{
	padding: 8px;
	border-radius: 5px;
	color: black;
	background-color: lightblue;
}

input{
	padding: 8px;
	border-radius: 5px;
}

/* number 2 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", monospace;
	/*border: 2px solid red;*/
}

/*number 3*/
nav {
	text-align: center;
	padding: 30px;
	background-color: violet;
	/*border: 2px solid red;*/
}
/* number 4-5 */
#landing{
	padding: 150px 400px 150px 100px;
	/*padding-left: 100px;
	padding-right: 150px;
	padding-top: 100px;
	padding-bottom: 100px;*/
	/*border: 2px solid red;*/
	text-align: right;
	background-color: violet;
}

/* number 6 */
.header{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* number 9 */
.card{
	padding: 26px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	/*border: 2px solid red;*/
}
/* number 10 */
.card-img{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
/* number 11 */
footer{
	background-color: violet;
	text-align: center;
	padding: 15px;
}

footer a{
	text-decoration: none;
	color: black;
}